div {
    outline-color: red;
    outline-width: 1px;
    outline-style: solid;
}

.gridcell {
    width: 180px;
    height: 100px;
}

.unavailable {
    color: rgb(50,50,50);
    background-color: black;
    pointer-events: none;
}

.available {
    color: yellow;
    background-color: rgb(61, 61, 61)
}

.selected {
    color: green;
    background-color: rgb(255, 255, 255);
}