<div class="container">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="email">Email</label>
      <input 
        type="text" 
        id="email" 
        class="form-control"
        ngModel
        name="email">
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input 
        type="text" 
        id="password" 
        class="form-control"
        ngModel 
        name="password">
    </div>
    <button class="btn btn-primary" type="submit">Submit</button>
  </form>
</div>
