<button [routerLink] = "['user']">Users</button>
<button [routerLink] = "['characters']">Characters</button>
<button [routerLink] = "['']">Home</button>
<div *ngIf="usersService.displayUser() === null">
    <form (ngSubmit)="onSubmit(f)" #f="ngForm">
        <div class="form-group">
          <label for="email">Email</label>
          <input 
            type="text" 
            id="emailLogin" 
            class="form-control"
            ngModel
            name="email"
            required
            email>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input 
            type="password" 
            id="passwordLogin" 
            class="form-control"
            ngModel 
            name="password">
        </div>
        <button 
          class="btn btn-primary" 
          type="submit"
          [disabled]="!f.valid">Login</button>
      </form>
</div>
<div *ngIf="usersService.displayUser() != null">
    <button
        class="btn btn-primary"
        type="submit">Logout</button>
</div>
