
<div class="nav-box">
    <button class="nav-button nav-left"
        [ngClass]="{'nav-enable': true}"
        [routerLink]="['../basic']">
        Reset All
    </button>
    <button class="nav-button nav-right"
        [ngClass]="{'nav-enable': true}"
        [routerLink]="['../spend']">
        Next
    </button>
</div>
<!-- Rows Loop -->
<div *ngFor="let row of rows" class="flex-row-wrapless">
  <div
    *ngFor="let box of boxes"
    class="gridcell"
    [ngClass] = "this.gridCellCSS(row,box)"
    (click)="toggleBoth(row,box)"
  >
    <div *ngIf="box === 'meta'">
      {{ this.myTable[row]['meta']['payload'][this.creationObject.character.basic.metatype]}}
    </div>
    <div *ngIf="box === 'attributes'">
        The Attributes Box!! With its HTML
    </div>
    <div *ngIf="box === 'magres'">
        The Magres Box!! With its HTML
    </div>
    <div *ngIf="box === 'nuyen'">
        The Nuyen Box!! With its HTML
    </div>
    <div *ngIf="box === 'skills'">
        The Skills Box!! With its HTML
    </div>
  </div>
</div>
